<div style="height: 100%;padding:0;background: url(img/signBg.png) no-repeat;
    background-size: 100% 100%;box-sizing: border-box;">
	<div class="signInputWrap">
		<p class="top">拼Ba平台管理系统</p>
		<div class="signFrom">
			<p>----------------- 用户登录 -----------------</p>
			<div class="signName">
				<input type="text" placeholder="请输入用户名" ng-model='userName'>
			</div>
			<div class="signPass">
				<input type="text" placeholder="请输入密码" ng-model='userPass'>
			</div>
			<div class="signBtn">
				<span class="btn btn-primary btn-blueBig hand" type="submit" ng-click='signIn()'>登录</span>
			</div>
		</div>
	</div>
</div>
