<div style="position: fixed;top: 0;left:0;height: .80rem;width: 100%; box-shadow: 0 .10rem .10rem #f2f5f9;padding: 0 .50rem 0 2.87rem;box-sizing: border-box;line-height: .80rem;background: #fff;z-index: 9"  ng-show='showLeft=="show"'>
		<p class="topPageLDiv">拼Ba商户管理系统</p>
		<div class="topPageRDiv">欢迎{{userInfo.username}} <img src="img/btn_nor@2x.png" alt="" style=""> 
			<ul class="fixedUl" style="">
				<!-- <li class="hand" ng-click='editPas()'>修改密码</li> -->
				<li class="hand" ng-click='signOut()'>退出账号</li>
			</ul>
		</div>
</div>