<div style="position: fixed;top: 0;left:0;height: .80rem;width: 100%; box-shadow: 0 .10rem .10rem #f2f5f9;padding: 0 .50rem 0 2.87rem;box-sizing: border-box;line-height: .80rem;background: #fff;z-index: 9"  ng-show='showLeft=="show"'>
		<p class="topPageLDiv">拼Ba商户管理系统</p>
		<div class="topPageRDiv">欢迎{{userInfo.username}} <img src="img/btn_nor@2x.png" alt="" style=""> 
			<ul class="fixedUl" style="">
				<li class="hand" ng-click='editPas()'>修改密码</li>
				<li class="hand" ng-click='signOut()'>退出账号</li>
			</ul>
		</div>
</div>

<div class="modal" ng-show='pasShow'>
	<div style="height:3rem;width:6rem">
		<div class="title" style="">
			<span>修改密码 </span>
			<!-- <span>修改店员信息</span>   -->
			<img src="img/btn_close_nor@2x.png" alt="" ng-click='pasShow=false'>
		</div>
		<ul class="con" style="padding: 0.4rem">
			<li class="clearfix" style="display: inline-block;width: 90%;">
				<div class="l">
					新密码
				</div>
				<div class="r" style="width: 2.7rem">
					<input type="text" style="width: 100%" ng-model='newPas' placeholder="新密码">
				</div>
			</li>
	<!-- 		<li style="font-size: 0.16rem;color: red;text-align: center;list-style: none;">第一次登录请重置密码</li> -->
			<li style="text-align: center;">
				<span class="modalSendBtn hand" ng-click='savePas()'>确定修改</span>
			</li>
		</ul>
	</div>
</div>

